<div id="show-background-index">
  <div id="arena-page">
    <div id="index-header">
      <h1>All arenas</h1>
      <h2 id="new-arena-button"><%= link_to '+ Add Arena', arenas_new_path%></h2>
    </div>
    <div id="all-arenas">
      <% @arenas.each do |arena| %>
        <%= link_to arena_path(arena.id) do %>
        <div class="card-product">
          <img src="https://media.istockphoto.com/photos/boxing-empty-professional-ring-with-crowd-picture-id618065428?b=1&k=20&m=618065428&s=170667a&w=0&h=Ym0onml4xOJALNRnqV8lEqiamTRr1O4rNuEQIVF1l08=" />
          <div class="card-product-infos">
            <h2><%= arena.address %> </h2>
            <p>Capacity: <%= arena.capacity %></p>
          </div>
        </div>
        <% end %>
      <br>
      <% end %>
      <br>
    </div>

    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
