<h1>All arenas</h1>
<% @arenas.each do |arena| %>
<%= link_to "#{arena.address}", arena_path(arena.id) %>
<%= arena.capacity %>
<%= arena.description %>
<br>
<% end %>
<br>

<%= link_to 'Add new Arena', arenas_new_path%>
<br>
<%= link_to 'My Dashboard', dashboard_path%>
