<div class="bg-image"
     style="background-image: url('https://cdn.pixabay.com/photo/2016/07/28/19/38/lost-places-1549096_1280.jpg');
            background-size: cover">
  <div class="form">
      <%# <div id="new-arena"> %>
    <h1>Create a new Arena</h1>
    <div class="form-info">
      <%= simple_form_for @arena do |f| %>
        <%= f.input :address %>
        <%= f.input :description %>
        <%= f.input :capacity %>
        <%= f.input :image %>
        <%= f.submit %>
      <% end %>
    </div>

    <div class="buttons">
      <%= link_to 'â†Back', :back %>
    </div>
    </div>
  </div>
</div>
