<div id="show-background-arena">
  <div class="arena-card">
    <div id="card-content-arena">
        <div id="card-info">
          <h1><%= @arena.address %></h1>
          <p>
            <%= @arena.description %>
          </p>
          <p>
            Capacity: <%= @arena.capacity %>
          </p>
        </div>
          <% if @arena.fighter == current_fighter %>
            <h2>Fights booked</h2>
            <% if @arena.fights.empty? %>
              <p><%= "No fights booked!" %></p>
            <% else %>
              <% @arena.fights.each do |fight| %>
                <%= link_to "#{fight.title}", fight_path(fight) %>
                <br>
              <% end %>
            <% end %>
          <% else %>
              <p><%= link_to "Create a fight", fights_new_path(@arena.id), class: "button-container-2" %></p>
          <% end %>
        <div class="buttons">
          <p class="button-back"><%= link_to 'â†Back', arenas_path %></p>
          <p class="button-edit"><% if policy(@arena).update? %>
            <%= link_to 'Edit', arena_edit_path(@arena.id) %>
            <% end %></p>
          <p class="button-delete"><% if policy(@arena).destroy? %>
            <%= link_to "Delete", arenas_delete_path(@arena.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %></p>
        </div>
      </div>
      <div id="card-image-arena">
    </div>
  </div>
</div>
