<div id="show-background-hospital">
  <div class="arena-card">
    <div id="card-content-hospital">
        <div id="card-info">
          <h1><%= @hospital.name %></h1>
          <p>Address: <%= @hospital.address %></p>
          <p>Rating: <%= @hospital.rating %>/5</p>
          <p>Hours of Operation: 24/7 </p>
          <p>Description: Not a great place to go if you prefer survival. Minimum charge is $4000<%=  %></p>
        </div>
        <div class="buttons">
          <p class="button-back"><%= link_to '<-BACK', hospitals_path %></p>
          <p class="button-delete"><% if policy(@arena).destroy? %>
            <%= link_to "DELETE", arenas_delete_path(@arena.id), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %></p>
          <p class="button-edit"><% if policy(@arena).update? %>
            <%= link_to 'EDIT', arena_edit_path(@arena.id) %>
            <% end %></p>
        </div>
      </div>
      <div id="card-image-hospital">
    </div>
  </div>
</div>
