<!DOCTYPE html>
<html>
  <head>
    <title>Airbnfight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="z-index: 1">
      <div class="navbar-brand">
        <%= link_to root_path do %>
          <img src="https://user-images.githubusercontent.com/17777237/54872929-c67d0b80-4dd4-11e9-83ed-9b6e88fe065a.jpg" class="rounded-circle"/>
        <% end %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul id="navbar" class="navbar-nav mr-auto">

          <li class="nav-item active">
            <%= link_to 'HOME', root_path, class: "nav-link" %>
          </li>

          <li class="nav-item active">
            <%= link_to 'DASHBOARD', dashboard_path, class: "nav-link"%>
          </li>

          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://eitrawmaterials.eu/wp-content/uploads/2016/09/empty-avatar.jpg" />
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">My Dashboard</a>
              <a class="dropdown-item" href="#">All Arenas</a>
              <a class="dropdown-item" href="#">Create Arena</a>
              <a class="dropdown-item" href="#">Hospitals</a>
              <a class="dropdown-item" href="#">Sign out</a>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <%= yield %>
    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-github"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </body>
</html>
